body{
  padding: 2rem 5rem;
  font-family: 'Montserrat', Arial;
  background-color:#ff99a7;
  background-image:
  radial-gradient(at 6% 76%, hsla(311,100%,61%,1) 0px, transparent 50%),
  radial-gradient(at 48% 43%, hsla(343,100%,72%,1) 0px, transparent 50%),
  radial-gradient(at 83% 12%, hsla(288,100%,67%,1) 0px, transparent 50%),
  radial-gradient(at 13% 75%, hsla(138,100%,76%,1) 0px, transparent 50%),
  radial-gradient(at 45% 98%, hsla(316,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 43% 78%, hsla(94,100%,73%,1) 0px, transparent 50%),
  radial-gradient(at 84% 16%, hsla(267,100%,66%,1) 0px, transparent 50%);
  min-height: 100vh;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  border-style: border-box;
}

p, h1{
  transition: all .5s ease;
}

img{
  max-width: 100%;
}

.nav{
  display: flex;
  gap: 1rem;
}

.buttons-main:hover{
  cursor: pointer;
}

.section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
  height: 5rem;
}

#title-main{
  font-size: 2rem;
}

.section-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1327px) {
  .section-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 810px) {
  .section-grid{
    grid-template-columns: 1fr;
  }
}

.text_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 800px;
  transition: all .5s ease;
}

.text_card{
  position: relative;
}

.card__image{
  position: absolute;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

.text_card:hover ~ .text_card{
  color: black;
}

.text_card h1{
  line-height: 30px;
  text-transform: capitalize;
  pointer-events: none;
}

.text_card p{
  font-size: .8rem;
}

.text_card:hover{
  cursor: pointer;
  transform: scale(1.01);
  background-position: 10%;
}

.text_card:hover h1{
  font-size: 4rem;
}

.text_card:active{
  opacity: .5;
}

.description{
  transition: all 1s ease;
}

.text_card:hover .description{
  transform: translateY(30px);
}

.title{
  margin: 0 1rem;
}

/* footer */

.footer{
  margin-top: 2rem;
}